RewriteEngine On

# If the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Set Permission-Policy header to suppress warnings
<IfModule mod_headers.c>
    Header set Permissions-Policy "attribution-reporting=(),run-ad-auction=(),private-state-token-redemption=(),private-state-token-issuance=(),join-ad-interest-group=(),browsing-topics=()"
</IfModule>

# Redirect everything to index.php
RewriteRule ^ index.php [L]